<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592891672732-retjh4aqvkqpvue6ofgqmrihbfh8r0a7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592891672732-retjh4aqvkqpvue6ofgqmrihbfh8r0a7</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ99e3NRySYVDAJHA_8P3ukRQKqumBxqs</string>
	<key>GCM_SENDER_ID</key>
	<string>592891672732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7NetworkingDiscussion</string>
	<key>PROJECT_ID</key>
	<string>cmsc23-todo-app-jvesguerra</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23-todo-app-jvesguerra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592891672732:ios:9653b12cf6e1ac41835559</string>
</dict>
</plist>